@import "./mixins/respond-to";

.top {
  background-color: #f6f8fa;
}

.header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: #003366;
  border-top: 4px solid #c20017;
  color: #ffffff;

  a {
    color: #ffffff;
    text-decoration: none;

    &:hover {
      color: #edf6ff;
    }
  }

  &__callout {
    color: #c20017;
  }

  &__logo {
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    bottom: 0.5rem;

    @include respond-to("md", "max") {
      display: none;
    }

    img {
      width: calc(100px - 1rem);
      height: calc(100px - 1rem);
    }
  }

  &__main,
  &__secondary {
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 50px;

    & > h1 {
      font-size: 1.6em;
      margin-right: 1rem;
      margin-top: 2px;
      margin-bottom: 2px;
    }

    ul {
      position: absolute;
      display: none;
      top: 100%;
      left: 0;
      right: 0;
      background-color: #003366;

      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 14px;

        & > * {
          display: inline-block;
          padding: 0.5rem;
        }

        a {
          transition: background-color 0.2s linear;
        }
      }

    }
    
    @include respond-to("md") {
      padding-left: calc(100px + 1rem);
      
      & > ul {
        position: relative;
        display: flex;
        top: unset;

        & > li > a:hover {
          background-color: #40668c;
          border-radius: 3px;
        }
      }
    }
  }

  &__secondary {
    width: 100%;
    background-color: #ffffff;
    color: #222;

    @include respond-to('md', 'max') {
      display: none;
    }

    ul {
      background-color: #ffffff;
      li {
        a {
          color: #036;

          &:hover {
            color: #036;
            background-color: #ffffff;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.footer {
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 1rem;
  background-color: #003366;
  color: #ffffff;

  a {
    color: #ffffff;
  }
}

.hamburger {
  fill: #ffffff;
  margin: 0 1rem;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;

  @include respond-to("md") {
    display: none;
  }
}

.header-overlay {
  display: none;
}

.hamburger-input {
  display: none;

  &:checked ~ .hamburger {
    fill: gray;
  }

  @include respond-to("md", "max") {
    &:checked ~ div > ul {
      display: block;
      z-index: 2;
    }

    &:checked ~ .header-overlay {
      display: block;
      position: static;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      min-height: 200vh;
      z-index: 1;
    }
  }
}
